* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #031839;
    color: #9bc19f;
}

header{
    position: sticky; /* Gør headeren fastgjort øverst på skærmen, når man scroller */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Fordeler pladsen mellem børnene med lige meget plads imellem */
    background-color: #031839;
}

.logo-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo{
    width: 12em;
    height: 5em;
}

.navbar {
    display: flex; /* Bruger flexbox til at sætte menuen horisontalt */
    padding: 1em 2em;
    width: 100%; /* Fylder hele bredden af headeren */
}

header .navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

header .navbar ul li{
    position: relative;
    float: left;
    background-color: #031839;
    text-wrap-mode: nowrap;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 18px;
    color: #9bc19f;
    display: block;
}

header .navbar ul li a:hover{
    background: #9bc19f;
    color: white;
}

header .navbar ul li ul{
    position: absolute; 
    width: 200px;
    display: none; 
}

header .navbar ul li ul li{
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul{
    left: 200px;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block; 
}

.menu-checkbox{
    display: none;
}

/* burger menu */
#menu-bar {
    display: none;
  }

.menu-icon{
    display: none;
}

header label{
    font-size: 20px;
    cursor: pointer; 
    display: none;
}

hr{
    background-color: #9bc19f;
    height: 0.5em;
}

.lp-img{
    width: 100%;
    height: 45em;
}

.nav-left{
    display: flex;

}

.nav-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.generic-flex-container {
    display: flex;
}

.flex-float-left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-left: 2em;
    margin-top: 2em;
}

.flex-float-right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 2em;
    margin-top: 2em;
}

h3{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.img-container{
    display: flex;
    gap: 1em;
}

.img-float-left,
.img-float-center,
.img-float-right {
    display: flex;
    flex-direction: column; /* Ensures the image and text are stacked */
    width: 33.33%; /* Each column takes up an equal width */
    margin-left: 1.5em; /* Adjust margin as needed */
    align-items: center; /* Center content within each column */
    margin-right: 1.5em;
}

.img-float-left img,
.img-float-center img,
.img-float-right img {
    width: 100%; /* Ensures the images take up the full width of their container */
    height: 30em; /* Fixes the height for uniformity */
    object-fit: cover; /* Ensures images maintain their proportions and fill the container */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.img-float-left p,
.img-float-center p,
.img-float-right p{
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.minder-hero{
    display: flex;
    width: 100%;
    height: 45em;
}

.blog-hero{
    display: flex;
    width: 100%;
    height: 45em;
}

.morten-hero{
    display: flex;
    width: 100%;
    height: 45em;
}

.infographic{
    display: flex;
    width: 100%;
    height: 35em;
}

h1{
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
}

.indledende-tekst-stoet{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
}

.indledende-tekst-minder{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
}

.img{
    max-width: 100%;
    height: auto;
}

.minder-img1{
    width: 50%;
    height: auto;
    flex: auto;
}

.textContainer{
    font-size: 2em;
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: flex-start;
    flex-direction: column;
}

.minder-container{
    display: flex;
    align-items: center;
    margin-left: 9em;
    margin-right: 9em;
}

.indledende-tekst-blog{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
}

.indledende-tekst-morten{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 7em;
    margin-right: 5em;
    margin-bottom: 1em;
}

.lp-tekst{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 1em;
}

form {
    max-width: 900px;
    margin: 0 auto; /* Centrerer formen */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Tillader linjeskift på mindre skærme */
    gap: 1.5em; /* Afstand mellem felter */
  }
  
  h2 {
    flex: 1 1 100%; /* Overskriften fylder hele bredden */
    text-align: center; /* Juster til venstre */
    margin-bottom: 10px;
    font-size: 3em;
  }
  
  .form-group {
    flex: 1 1 calc(50% - 1.5em); /* To kolonner med plads til afstand */
    display: flex;
    flex-direction: column; /* Label over input */
  }
  
  label {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
  
  input[type="text"],
  input[type="email"],
  #amount {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #c7d0c7;
    border-radius: 5px;
    color: #031839;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
    outline: none;
    border-color: #00b4d8;
  }
  
  fieldset {
    flex: 1 1 100%; /* Fieldset fylder hele bredden */
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .blog-container{
    display: flex;
    gap: 1em;
  }

  .img1-float-left, .img2-float-right{
    display: flex;
    flex-direction: column; /* Ensures the image and text are stacked */
    width: 50%; /* Each column takes up an equal width */
    margin-left: 4em; /* Adjust margin as needed */
    align-items: center; /* Center content within each column */
    margin-right: 4em;
    margin-top: 3em;
  }

  .img1-float-left img,
.img2-float-right img {
    width: 100%; /* Ensures the images take up the full width of their container */
    height: 30em; /* Fixes the height for uniformity */
    object-fit: cover; /* Ensures images maintain their proportions and fill the container */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.img1-float-left p,
.img2-float-right p{
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

a{
    text-decoration: none;
    color: inherit;
}

.textSectionStyling{
    display: flex; 
    margin-left: 1.5em;
    margin-top: 0.25em;
    font-size: 0.8em;
  }
  
  .underoverskrift{
    display: flex;
    justify-content: center;
  }

  .underoverskriftStyling{
    font-weight: bold;
  }

  .brødtekst{
    font-size: 1.6em;
    margin-left: 5.5em;
    margin-right: 4em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  .brødtekst2{
    font-size: 1.6em;
    margin-left: 7.75em;
    margin-right: 4em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  .textSectionStyling2{
    display: flex; 
    margin-top: 0.25em;
    font-size: 0.8em;
  }

  .textSectionStyling3{
    margin-left: 2em;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .underoverskriftStyling2{
    font-weight: bold;
    margin-right: 2.3em;
  }

  .underoverskrift2{
    display: flex;
    margin-left: 1.55em;
  }

 .img1{
    width: 90%;
  margin-left: 3.75em;
 }

 .footer-container{
    display: flex;
 }

 .footer-container p{
    font-size: 1.2em;
 }

 .footer-left{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
 }

 .footer-right{
    display: flex;
    width: 50%;
    margin: 1em;
    flex-direction: column;
 }

 .footer-left-up{
    margin: 1em;
 }

 .footer-left-down{
    margin: 1em;
 }

 .some-logos{
    width: 6vh;
    margin-top: 1em;
    margin-right: 6em;
 }


 @media(max-width: 1600px){
    .img{
        max-width: 100%;
        height: auto;
    }
    
    .minder-img1{
        width: 100%;
        height: auto;
        flex: auto;
    }
    
    .textContainer{
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    
    .minder-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 9em;
        margin-right: 9em;
    }

    .underoverskriftStyling{
        font-size: 1em;
    }

    .brødtekst{
        font-size: 2em;
        margin-left: 6em;
    }

    .textSectionStyling2{
        margin-left: 2em;
    }
 }
 /* Responsive: Show burger icon and hide menu */
@media (max-width: 1190px) {

    .navbar{
        justify-content: space-between;
    }

    .menu-icon {
        display: flex; /* Show burger icon */
        justify-items: flex-end;
        font-size: 2em;
        align-self: center;
        
    }

    .nav-right{
        display: none;
    }

    .nav-left {
        display: none; /* Hide menu initially */

    }

    /* Toggle menu visibility when checkbox is checked */
    .menu-checkbox:checked ~ .nav-left {
        display: flex;
        position: absolute;
        right: 0;
    
    }

    header .navbar ul {
        width: auto;
        background-color: #031839;
    }

    .nav-left ul {
        list-style: none;
        padding: 0;
        position: absolute;
        top: 100px;
        right: 0;
        flex-direction: column;
        width: 200px;
        padding: 10px;
    }

    .nav-left ul li {
        text-align: center;
    }

    .nav-left ul li a {
        text-decoration: none;
        color: #9bc19f;
        padding: 1em;
        display: block;
    }

    .nav-left ul li a:hover {
        background: #9bc19f;
        color: #031839;
    }

    .menu-checkbox:checked ~ .nav-right{
        display: block;
        position: absolute;
        top: 400px;
        right: 0;
        width: auto;
    }

    .img-float-left,
    .img-float-center,
    .img-float-right {
        display: flex;
        flex-direction: column; /* Ensures the image and text are stacked */
        width: 100%; /* Each column takes up an equal width */
        margin-left: 1.5em; /* Adjust margin as needed */
        align-items: center; /* Center content within each column */
        margin-right: 1.5em;
    }
    
    .img-float-left img,
    .img-float-center img,
    .img-float-right img {
        width: 50em; /* Ensures the images take up the full width of their container */
        height: 30em; /* Fixes the height for uniformity */
        object-fit: cover; /* Ensures images maintain their proportions and fill the container */
        border-radius: 5px; /* Optional: adds rounded corners */
    }
    
    .img-float-left p,
    .img-float-center p,
    .img-float-right p{
        font-size: 2.25em;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .flex-float-right{
        display: none;
    }

    .flex-float-left{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        font-size: 1.5em;
    }
    .some-logos{
        width: 3vh;
        margin-top: 1em;
        margin-right: 2em;
     }
}

 