* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #031839;
    color: #9bc19f;
}

header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between; /* laver plads mellem menupunkterne */
    background-color: #031839;
}
/* navbar */
.logo-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo{
    width: 12em;
    height: 5em;
}

.navbar {
    display: flex; /* sætter menuen horisontalt */
    padding: 1em 2em;
    width: 100%; /* fylder hele bredden af headeren */
}

header .navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* får menupunkterne til at stå til højre for logoet*/
    
}

header .navbar ul li{
    position: relative; /* dropdown menu*/
    float: left;
    background-color: #031839;
    text-wrap-mode: nowrap;
}

header .navbar ul li a{
    text-decoration: none; /* fjerner understegning fra links*/
    font-size: 1.5em; /* tekststørrelse*/
    padding: 18px;
    color: #9bc19f;
    display: block;
}

header .navbar ul li a:hover{
    background: #9bc19f;
    color: white;
}

header .navbar ul li ul{
    position: absolute; 
    width: 200px; /* bredden på dropdown menu */
    display: none; /* skjuler menuen */
}

header .navbar ul li ul li ul{
    left: 200px;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block; /* viser dropdown menu */
}

.nav-left{
    display: flex;

}

.menu-checkbox{
    display: none; /* skjuler checkboks */
}

/* burger menu */
#menu-bar {
    display: none;
  }

.menu-icon{
    display: none; /* skjuler burgermenuen som standard*/
}

header label{
    font-size: 20px;
    cursor: pointer; 
    display: none;
}

/* den grønne linje */
hr{
    background-color: #9bc19f;
    height: 0.5em;
}

/* landingpage billeder og tekst */
.lp-img{
    width: 100%;
    height: 45em;
}

.lp-tekst{
    font-size: 1.8em;
    display: flex;
    justify-content: center; /* centrerer teksten med flexbox*/
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 1em;
}

.generic-flex-container {
    display: flex;
}

.flex-float-left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-left: 2em;
    margin-top: 2em;
}

.flex-float-right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 2em;
    margin-top: 2em;
}

h1{
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
} 

h2 {
    flex: 1 1 100%; /* Overskriften fylder hele bredden */
    text-align: center; 
    margin-bottom: 10px;
    font-size: 3em;
  }
  

h3{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.img-container{
    display: flex;
    gap: 1em; /* laver mellemrum mellem billederne*/
}

.img-float-left,
.img-float-center,
.img-float-right {
    display: flex;
    flex-direction: column; /* sætter billederne horisontalt */
    width: 33.33%; /* hver billede tager 33.3% af pladsen */
    margin-left: 1.5em; 
    align-items: center; /* centrerer teksten under hver kolonne */
    margin-right: 1.5em;
}

.img-float-left img,
.img-float-center img,
.img-float-right img {
    width: 100%; 
    height: 30em; /* billederne er samme højde */
    object-fit: cover; 
    border-radius: 5px; /* runder hjørnerne på billederne */
}

.img-float-left p,
.img-float-center p,
.img-float-right p{
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

/* hero images */
.minder-hero{
    display: flex;
    width: 100%;
    height: 45em;
}

.blog-hero{
    display: flex;
    width: 100%;
    height: 45em;
}

.morten-hero{
    display: flex;
    width: 100%;
    height: 45em;
}

.infographic{
    display: flex;
    display: block;
    width: 100%;
    height: 35em;
}

.infographic-lille{
    display: none; /* skjuler billedet når det ikke er i sit breakpoint */
   }

/* indledende tekster */
.indledende-tekst-minder, 
.indledende-tekst-blog,
.indledende-tekst-stoet{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
}

.indledende-tekst-morten{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 7em;
    margin-right: 5em;
    margin-bottom: 1em;
}

/* minder siden */
.img{
    max-width: 100%;
    height: auto;
}

.minder-img1{
    width: 50%;
    height: auto;
    flex: auto;
}

.textContainer{
    font-size: 2em;
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: flex-start;
    flex-direction: column;
}

.minder-container{
    display: flex;
    align-items: center;
    margin-left: 9em;
    margin-right: 9em;
}

/* form på støt radar siden*/
form {
    max-width: 900px;
    margin: 0 auto; /* centrerer formen */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* wrapper teksten når skærmen bliver mindre */
    gap: 1.5em; /* afstand mellem felter */
  }
  
  .form-group {
    flex: 1 1 calc(50% - 1.5em); /* to kolonner med plads til afstand */
    display: flex;
    flex-direction: column; 
  }
  
  label {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
  
  input[type="text"],
  input[type="email"],
  #amount {
    width: 100%;
    padding: 0.8em;
    border: 2px solid #c7d0c7; /* sætter en lille skygge på kolonnerne*/
    border-radius: 5px;
    color: #031839;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
    outline: none;
    border-color: #00b4d8;
  }
  
  fieldset {
    flex: 1 1 100%; /* Fieldset fylder hele bredden */
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
  }
  
  /* blog siden */
  .blog-container{
    display: flex;
    gap: 1em;
  }

  .img1-float-left, .img2-float-right{
    display: flex;
    flex-direction: column; 
    width: 50%; /* hver kolonne tager 50% af pladsen*/
    margin-left: 4em; 
    align-items: center; 
    margin-right: 4em;
    margin-top: 3em;
  }

  .img1-float-left img,
.img2-float-right img {
    width: 100%; 
    height: 30em; 
    object-fit: cover; 
    border-radius: 5px; 
}

.img1-float-left p,
.img2-float-right p{
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

/* link */
a{
    text-decoration: none;
    color: inherit;
}

/* styling af tekst på minder og mortens blog */
.textSectionStyling{
    display: flex; 
    margin-left: 1.5em;
    margin-top: 0.25em;
    font-size: 0.8em;
  }
  
  .underoverskrift{
    display: flex;
    justify-content: center;
  }

  .underoverskriftStyling{
    font-weight: bold;
  }

  .brødtekst{
    font-size: 1.6em;
    margin-left: 5.5em;
    margin-right: 4em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  .brødtekst2{
    font-size: 2em;
    margin-left: 6.5em;
    margin-right: 4em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  .textSectionStyling2{
    display: flex; 
    margin-top: 0.25em;
    font-size: 0.8em;
  }

  .textSectionStyling3{
    margin-left: 2em;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .underoverskriftStyling2{
    font-weight: bold;
    margin-right: 2.3em;
  }

  .underoverskrift2{
    display: flex;
    margin-left: 1.55em;
  }

 .img1{
    width: 90%;
    margin-left: 3.75em;
 }

 /* footer styling */
 .footer-container{
    display: flex;
 }

 .footer-container p{
    font-size: 1.2em;
 }

 .footer-left{
    display: flex;
    width: 50%; /* får footeren til at dele sige lige op */
    justify-content: flex-start; /* sætter teksten til højre */
    flex-direction: column;
 }

 .footer-right{
    display: flex;
    width: 50%;
    margin: 1em;
    flex-direction: column;
 }

 .footer-left-up{
    margin: 1em;
 }

 .footer-left-down{
    margin: 1em;
 }

 .some-logos{
    width: 6vh; /* størrelse på logoerne*/
    margin-top: 1em;
    margin-right: 6em; /* afstanden mellem logoerne */
 }

/* media queries*/ /* første breakpoint */
 @media(max-width: 1600px){
    .img{
        max-width: 100%;
        height: auto;
    }
    
    .minder-img1{
        width: 100%;
        height: auto;
        flex: auto;
    }
    
    .textContainer{
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    
    .minder-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 9em;
        margin-right: 9em;
    }

    .underoverskriftStyling{
        font-size: 1em;
    }

    .brødtekst{
        font-size: 2em;
        margin-left: 4.5em;
    }

    .textSectionStyling2{
        margin-left: 0;
    }

    .some-logos{
        width: 6vh;
        margin-top: 1em;
        margin-right: 3em;
    }

    .indledende-tekst-minder{
        margin: 1em;
    }

    .minder-img1{
        width: 75em;
    }

    .img{
        width: 75em;
    }

    .textSectionStyling{
        display: flex; 
        margin-left: 0;
        margin-top: 0.25em;
        font-size: 0.8em;
      }
 }
 /* breakpoint 2 */
@media (max-width: 1190px) {

    /* burgermenu */
    .navbar{
        justify-content: space-between;
    }

    .menu-icon {
        display: flex; /* burger menuen bliver vist*/
        justify-items: flex-end;
        font-size: 2em;
        align-self: center;
    }

    .nav-left {
        display: none; /* Skjuler den originale menu */

    }

    .menu-checkbox:checked ~ .nav-left {
        display: flex;
        position: absolute;
        right: 0;
    
    }

    header .navbar ul {
        width: auto;
        background-color: #031839; /* sætter baggrunde på menupunkterne til en mørk blå*/
    }

    .nav-left ul {
        list-style: none;
        padding: 0;
        position: absolute;
        top: 100px;
        right: 0;
        flex-direction: column;
        width: 200px;
        padding: 10px;
    }

    .nav-left ul li {
        text-align: center;
        height: 75px;
    }

    header .navbar ul{
        width: 300px;
    }

    header .navbar ul li ul {
        position: relative;
        width: auto;
        top: 0;
    }

    header .navbar ul li ul li{
        top: -75px;
        left: 0; /* Start from the left edge of the parent menu */
        transform: translateX(-100%); /* Move the submenu fully to the left */
    }

    .nav-left ul li a {
        text-decoration: none;
        color: #9bc19f;
        padding: 1em;
        display: block;
    }

    .nav-left ul li a:hover {
        background: #9bc19f;
        color: #031839;
    }

    .menu-checkbox:checked ~ .nav-right{
        display: block;
        position: absolute;
        top: 400px;
        right: 0;
        width: auto;
    }

    /* billeder på landingpage*/
    .img-float-left,
    .img-float-center,
    .img-float-right {
        display: flex;
        flex-direction: column;
        width: 85%; /* sat width ned til kun at tage 85% pldas */
        align-items: center; 
    }
    
    .img-float-left img,
    .img-float-center img,
    .img-float-right img {
        width: 40em; 
        height: 30em; 
    }
    
    .img-float-left p,
    .img-float-center p,
    .img-float-right p{
        font-size: 2.25em;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .flex-float-right{
        display: none; /* gør teksten usynlig*/
    }

    .flex-float-left{
        display: flex;
        justify-content: center; /* centrerer teksten nu når den anden tekst er fjernet*/
        width: 100%;
        font-size: 1.5em;
    }
    .some-logos{
        width: 4.5vh; /* ændrer størrelse på logoerne */
        margin-top: 1em;
        margin-right: 2.5em;
     }

     .blog-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .img1-float-left, .img2-float-right{
        display: flex;
        flex-direction: column; 
        width: 60%; 
        align-items: center; 
      }
    
      .img1-float-left img,
    .img2-float-right img {
        width: 45em; 
        height: 30em; 
        object-fit: cover; 
        border-radius: 5px; 
    }
    
    .img1-float-left p,
    .img2-float-right p{
        font-size: 1.8em;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .morten{
        display: flex;
        margin-left: 12.5em;
    }

    .indledende-tekst-minder{
        margin: 1em;
    }

    .minder-img1{
        width: 55em;
    }

    .img{
        width: 55em;
    }
    
}

/* breakpoint 3 */
 @media(max-width: 900px){
    .form-group {
        flex: 1 1 100%; /* Gør hvert form-group element fuld bredde */
      }
      /* ændrer teksten og billederne på landingpage*/
      .lp-tekst{
        margin-left: 2em;
        margin-right: 2em;
      }

      .lp{
        margin-left: 3em;
      }
    
    .textContainer{
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    
    .minder-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 9em;
        margin-right: 9em;
    }

   .infographic{
    display: none; /* gør den første infographic usynlig, så den nye kan blive vist*/
   }

   .infographic-lille{
    display: flex;
    display: block;
    width: 100%;
    height: 35em;
   }

   .some-logos{
    width: 2.5vh; /* logoerne bliver endnu mindre */
    margin-top: 1em;
    margin-right: 2.5em;
 }

    /* gør margin mindre*/ 
    .indledende-tekst-stoet{
        margin: 1em;
    }

    .indledende-tekst-blog{
        margin: 1em;
    }

    .indledende-tekst-minder{
        margin: 1em;
    }

    .minder-img1{
        width: 40em;
    }

    .img{
        width: 40em;
    }
}

/* breakpoint 4 */
@media(max-width:650px){
    .img-float-left img,
    .img-float-center img,
    .img-float-right img {
        width: 25em; 
        height: 30em; 
    }
    .indledende-tekst-minder{
        margin: 1em;
    }

    .textSection{
        margin: 0;
    }

    .minder-img1{
        width: 30em;
    }
}